<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{layouts/layout}">
</head>
<body>
	<section layout:fragment="content">
		<div class="page-title">
			<h2>
				ProductOption <small class="text-muted" th:text="${item.id}"></small>
				<button type="button" class="btn btn-secondary pull-right" th:onclick="${'goBack();'}">
					<span class="fa fa-arrow-left"></span>Back
				</button>
			</h2>
		</div>
		<div role="alert" th:if="${statusMessage}"
			th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}"></div>
		<fieldset>
			<legend class="section">Basic Info</legend>
			<dl class="row justify-content-md-center">
				<dt class="col-md-2 text-right">Code</dt>
				<dd class="col-md-4 text-left" th:text="${item.code}">Code</dd>
				<dt class="col-md-2 text-right">Sort Order</dt>
				<dd class="col-md-4 text-left" th:text="${item.sortOrder}">Code</dd>
				<dt class="col-md-2 text-right"></dt>
				<dd class="col-md-4 text-left"></dd>
			</dl>
		</fieldset>
		<fieldset>
			<legend class="section">
				Option Values
				<button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal"
					data-target="#optionModal">
					<span class="fa fa-plus"> Add Value </span>
				</button>
			</legend>
			<table class="table w-75">
				<thead class="thead-default">
					<tr>
						<th>Id</th>
						<th>Code</th>
						<th>Sort Order</th>
						<th>Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="optionValue : ${item.productOptionValues}">
						<th scope="row" th:text="${optionValue.id}">1</th>
						<td th:text="${optionValue.code}">code</td>
						<td th:text="${optionValue.sortOrder}">sortOrder</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<fieldset>
			<legend class="section">Audit Info</legend>
			<dl class="row justify-content-md-center">
				<dt class="col-md-2 text-right">Created By</dt>
				<dd class="col-md-4 text-left" th:text="${item.createdBy}">Code</dd>
				<dt class="col-md-2 text-right">createdDate</dt>
				<dd class="col-md-4 text-left" th:text="${item.createdDate}">createdDate</dd>
				<dt class="col-md-2 text-right">Last Modified By</dt>
				<dd class="col-md-4 text-left" th:text="${item.lastModifiedBy}">Code</dd>
				<dt class="col-md-2 text-right">lastModifiedDate</dt>
				<dd class="col-md-4 text-left" th:text="${item.lastModifiedDate}">LastModifiedDate</dd>
			</dl>
		</fieldset>
		<!-- Button trigger modal -->
		<!-- Modal -->
		<div class="modal fade" id="optionModal" tabindex="-1" role="dialog" aria-labelledby="optionModal"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form name="form" th:action="@{'/productOptions/'+${item.id}+'/values'}"
						action="category/edit.html" method="POST">
						<div class="modal-body">
							<div class="row form-group">
								<label for="codeInput" class="col-1 col-form-label text-right">Code</label> 
								<input type="text"  class="form-control col-4" id="codeInput" name="code"
									placeholder="Code" /> <label for="sortOrder" class="col-2 col-form-label text-right">SortOrder</label>
								<input type="number"  name="sortOrder" class="form-control col-4"
									placeholder="Sort Order" />
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
