<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Hello Shopping!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:include="fragments/header :: header">
<body>
	<div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>
	<div class="container content">
		<section layout:fragment="content">
			<p>Content goes here...</p>
		</section>
	</div>
	<footer>
		<div th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</div>
	</footer>
</body>
</html>