<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello Shopping!</title>
<meta
	http-equiv="Content-Type"
	content="text/html; charset=UTF-8" />
<link
	th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet"
	type="text/css" />
<script
	src="http://cdn.jsdelivr.net/webjars/jquery/3.2.0/jquery.min.js"
	th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
<head th:include="fragments/header :: header">
<body>
	<h1>layout header</h1>
   <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>
	<div class="container">
		<div layout:fragment="content">
			<p>Content goes here...</p>
		</div>
	</div>
	<footer>
		<div layout:fragment="footer">&copy; 2017</div>
	</footer>
</body>
</html>