<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorate="~{layouts/layout}" lang="en">
<head>
<!-- default header name is X-CSRF-TOKEN -->
<link href="/css/fileinput.min.css" th:href="@{/css/fileinput.min.css}" media="all" rel="stylesheet"
	type="text/css" />
<script src="/vendor/jquery.ui.widget.js" th:src="@{/vendor/jquery.ui.widget.js}"></script>
<script th:src="@{/webjars/jquery-file-upload/9.10.1/js/jquery.fileupload.js}"></script>
<script src="/vendor/fileinput/fileinput.min.js" th:src="@{/vendor/fileinput/fileinput.min.js}"></script>
<script src="/vendor/fileinput/themes/fa/theme.js" th:src="@{/vendor/fileinput/themes/fa/theme.js}"></script>
</head>
<body>
	<section layout:fragment="content">
		<div class="page-title">
			<h2>Product Images</h2>
		</div>
		<div class="container">
			<!-- the avatar markup -->
			<div id="kv-avatar-errors-2" class="center-block" style="width: 800px; display: none"></div>
			<form class="text-center" action="/avatar_upload.php" method="post" enctype="multipart/form-data">
				<div class="kv-avatar center-block" style="width: 200px">
					<input id="avatar-2" name="avatar-2" type="file" class="file-loading">
				</div>
				<!-- include other inputs if needed and include a form submit (save) button -->
			</form>
			<input id="file-input" name="file" type="file" class="file-loading">
		</div>
	</section>
</body>
<section layout:fragment="footer-script">
	<script th:inline="javascript">
		$(document).ready(function() {
			var btnCust = '<button type="button" class="btn btn-default" title="Add picture tags" ' + 
		    'onclick="alert(\'Call your custom code here.\')">' +
		    '<i class="fa fa-tag"></i>' +
		    '</button>'; 
		$("#avatar-2").fileinput({
			theme: "fa",
		    overwriteInitial: true,
		    maxFileSize: 1500,
		    showClose: false,
		    showCaption: false,
		    showBrowse: false,
		    browseOnZoneClick: true,
		    removeLabel: '',
		    removeIcon: '<i class="fa fa-remove"></i>',
		    removeTitle: 'Cancel or reset changes',
		    elErrorContainer: '#kv-avatar-errors-2',
		    msgErrorClass: 'alert alert-block alert-danger',
		    defaultPreviewContent: '<img src="/img/image_add.png" alt="Your Avatar" style="width:160px"><h6 class="text-muted">Click to select</h6>',
		    layoutTemplates: {main2: '{preview} ' +  btnCust + ' {remove} {browse}'},
		    allowedFileExtensions: ["jpg", "png", "gif"]
		});
			
			
			$("#file-input").fileinput({
				theme: "fa",
				uploadUrl : "attachments?"+[[${_csrf.parameterName}]] + '=' + [[${_csrf.token}]], // server upload action
				uploadAsync : true,
				ajaxDeleteSettings: { method: "DELETE" },
				//browseClass: "btn btn-primary btn-block",
				showBrowse: false,
				showCaption: true,
				showClose: false,
				browseOnZoneClick: true,
				minFileCount : 1,
				maxFileCount : 5,
				overwriteInitial : false,
				initialPreview : [
					[# th:each="image : ${attachments}"]    
				     '/admin/attachments/'+[[${image.id}]],
				    [/]
				],
				initialPreviewConfig: [[${priviewConfig}]],
				initialPreviewAsData : true, // identify if you are sending preview data only and not the raw markup
				initialPreviewFileType : 'image', // image is the default and can be overridden in config below
				showCaption:false,
			 	uploadExtraData: {
			    	 boName: "product",
			     	 boId: 1,
			 	},
			 	deleteExtraData: {
			 		[[${_csrf.parameterName}]]: [[${_csrf.token}]]
			 	}
			});
			
		});
	</script>
</section>
</html>
