<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorate="~{layouts/layout}" lang="en">
<head>
<link href="css/fileinput.min.css" th:href="@{css/fileinput.min.css}" media="all" rel="stylesheet"
	type="text/css" />
<script src="js/vendor/jquery.ui.widget.js" th:src="@{/js/vendor/jquery.ui.widget.js}"></script>
<script th:src="@{/webjars/jquery-file-upload/9.10.1/js/jquery.fileupload.js}"></script>
<script src="js/vendor/fileinput.min.js" th:src="@{js/vendor/fileinput.min.js}"></script>
</head>
<body>
	<section layout:fragment="content">
		<div class="page-title">
			<h2>Product Images</h2>
		</div>
		<div class="container">
			<form name="form" th:action="@{'/test'}" method="POST" enctype="multipart/form-data">
				<input type="file" name="file" /><br/> <input type="submit" value="Submit" />
			</form>
			<input id="file-input" name="file" type="file" multiple=true class="file-loading">
		</div>
	</section>
</body>
<section layout:fragment="footer-script">
	<script>
		$(document).ready(function() {
			$("#file-input").fileinput({
				uploadUrl : "test", // server upload action
				uploadAsync : true,
				minFileCount : 1,
				maxFileCount : 5,
				overwriteInitial : false,
				initialPreview : [
					"http://lorempixel.com/800/460/people/1"
				],
				initialPreviewAsData : true, // identify if you are sending preview data only and not the raw markup
				initialPreviewFileType : 'image', // image is the default and can be overridden in config below
				initialPreviewConfig : [
					{
						caption : "People-1.jpg",
						size : 576237,
						width : "120px",
						url : "/site/file-delete",
						key : 1
					}
				]
			/*  uploadExtraData: {
			     img_key: "1000",
			     img_keywords: "happy, places",
			 } */
			});
		});
	</script>
</section>
</html>
