<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{layouts/layout}">
<head>
<body>
	<section layout:fragment="content">
		<div class="page-title">
			<h2>Customer #<small th:text="${item?.id}"></small></h2>
		</div>
		<div role="alert" th:if="${statusMessage}"
			th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}"></div>
		<form name="form" th:action="@{(${item.id} ? '/customers/'+${item.id}+'/edit': '/customers')}"
			action="category/edit.html" method="POST">
			<div class="row form-group">
				<label for="codeInput" class="col-2 col-form-label text-right">Code</label>
				 <input type="text"	th:value="${item.code}" class="form-control col-4" id="codeInput" name="code" placeholder="Code" /> 
				 <label for="sortOrder" class="col-2 col-form-label text-right">SortOrder</label> 
				 <input type="number" value="${item.sortOrder}" name="sortOrder"
					class="form-control col-4" placeholder="Sort Order" /> 
			</div>
			<div class="form-actions">
				<div class="row justify-content-end">
						<button type="button" class="btn btn-default" th:onclick="${'goBack();'}">
							<span class="fa fa-ban"></span>&nbsp;Cancel
						</button>
						<button type="submit" class="btn btn-primary">
							<span class="fa fa-save"></span>&nbsp;Save
						</button>
				</div>
			</div>
		</form>
	</section>
</body>
</html>
