<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" lang="en"
	layout:decorate="~{layouts/layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Your request cannot be processed</title>
</head>
<body>
<section layout:fragment="content">
		<h1>error.html ...</h1>
			<div>There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span th:text="${status}">500</span>).</div>

			<div th:text="${message}">Fake content</div>
</section>
</body>
</html>
