<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" lang="en"
	layout:decorate="~{layouts/layout}">
<body>
	<section layout:fragment="content">
	
	<div class="row">
      <div class="twelve columns banner">
        <div class="right banner-contents">
            <h1>{{ theme.bannerTitleText }}</h1>
            <h4>{{ theme.bannerSentenceText }}</h4>
            <a class="button right" th:href="@{/catalogue}">Shop Now</a>
        </div>
      </div>
    </div>
	<div class="row product-list">
		<div th:include="product/product-list" th:remove="tag">REPLACE BEFORE COMMITTING</div>
	</div>
	</section>
</body>
<section layout:fragment="footer-script"></section>
</html>
