<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{layouts/layout}">
</head>
<body>
	<section layout:fragment="content">
		<div class="page-title">
			<h2>
				Product <small class="text-muted" th:text="${item.id}"></small>
				<button type="button" class="btn btn-secondary pull-right" th:onclick="${'goBack();'}">
					<span class="fa fa-arrow-left"></span>Back
				</button>
			</h2>
		</div>
		<div role="alert" th:if="${statusMessage}"
			th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}"></div>
		<fieldset>
			<legend class="section">Basic Info</legend>
			<div class="row justify-content-md-center">
				<div class="col-3">
					<img src="/images/jpeg/2.jpg" class="rounded float-left" alt="...">
				</div>
				<dl class="col-md-9 row">
					<dt class="col-md-2 text-right">Title</dt>
					<dd class="col-md-4 text-left" th:text="${item.title}">Title</dd>
					<dt class="col-md-2 text-right">SKU</dt>
					<dd class="col-md-4 text-left" th:text="${item.sku}">SKU</dd>
					<dt class="col-md-2 text-right">Sale Price</dt>
					<dd class="col-md-4 text-left" th:text="${item.salePrice}">Sale Price</dd>
					<dt class="col-md-2 text-right">Retail Price</dt>
					<dd class="col-md-4 text-left" th:text="${item.retailPrice}">Retail Price</dd>
					<dt class="col-md-2 text-right"></dt>
					<dd class="col-md-4 text-left"></dd>
				</dl>
			</div>
		</fieldset>
		<fieldset>
			<legend class="section">SKU Info</legend>
			</fieldset>
			
		<fieldset>
			<legend class="section">Audit Info</legend>
			<dl class="row justify-content-md-center">
				<dt class="col-md-2 text-right">Created By</dt>
				<dd class="col-md-4 text-left" th:text="${item.createdBy}">Code</dd>
				<dt class="col-md-2 text-right">Created Date</dt>
				<dd class="col-md-4 text-left" th:text="${item.createdDate}">CreatedDate</dd>
				<dt class="col-md-2 text-right">Modified By</dt>
				<dd class="col-md-4 text-left" th:text="${item.lastModifiedBy}">Modified By</dd>
				<dt class="col-md-2 text-right">Modified Date</dt>
				<dd class="col-md-4 text-left" th:text="${item.lastModifiedDate}">LastModifiedDate</dd>
			</dl>
		</fieldset>
	</section>
</body>
</html>
