<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorate="~{layouts/layout}" lang="en">
<head>
<link href="/css/fileinput.min.css" th:href="@{/css/fileinput.min.css}" media="all" rel="stylesheet"
	type="text/css" />
<script src="/vendor/jquery.ui.widget.js" th:src="@{/vendor/jquery.ui.widget.js}"></script>
<script th:src="@{/webjars/jquery-file-upload/9.10.1/js/jquery.fileupload.js}"></script>
<script src="/vendor/fileinput/fileinput.min.js" th:src="@{/vendor/fileinput/fileinput.min.js}"></script>
<script src="/vendor/fileinput/themes/fa/theme.js" th:src="@{/vendor/fileinput/themes/fa/theme.js}"></script>
</head>
<body>
	<section layout:fragment="content">
		<div class="page-title">
			<h2>Product Images
			<button type="button" class="btn btn-secondary pull-right" th:onclick="${'goBack();'}">
					<span class="fa fa-arrow-left"></span>&nbsp;Back&nbsp;
				</button>
			</h2>
		</div>
		<input id="file-input" name="file" type="file" class="file-loading">
	</section>
</body>
<section layout:fragment="footer-script">
	<script th:inline="javascript">
		$(document).ready(function() {
			$("#file-input").fileinput({
				theme: "fa",
				uploadUrl : "/admin/attachments?"+[[${_csrf.parameterName}]] + '=' + [[${_csrf.token}]], // server upload action
				uploadAsync : true,
				ajaxDeleteSettings: { method: "DELETE" },
				minFileCount : 1,
				maxFileCount : 5,
				browseOnZoneClick: true,
				overwriteInitial : false,
				showBrowse: false,
				showCaption:false,
				showCancel: false,
				showClose: false,
				initialPreview : [
					[# th:each="image : ${attachments}"]    
				     "/admin/attachments/"+[[${image.id}]],
				    [/]
				],
				initialPreviewConfig: [[${priviewConfig}]],
				initialPreviewAsData : true, // identify if you are sending preview data only and not the raw markup
				initialPreviewFileType : 'image', // image is the default and can be overridden in config below
			 uploadExtraData: {
			     boName: "product",
			     boId: [[${{productId}}]],
			 },
			deleteExtraData: {
			 		[[${_csrf.parameterName}]]: [[${_csrf.token}]]
			 	}
			});
		});
	</script>
</section>
</html>
