<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" lang="en"
	layout:decorate="~{layouts/layout}">
<head>
</head>
<body>
	<section layout:fragment="content">
		<div class="page-title">
			<h2>
				SKUs
				<button type="button" class="btn btn-secondary pull-right" th:onclick="${'goBack();'}">
					<span class="fa fa-arrow-left"></span>Back
				</button>
			</h2>
		</div>
		<div th:if="${statusMessage}" class="row">
			<div role="alert" th:class="'alert ' + ${statusMessageClass}?: 'alert-info'"
				th:text="${statusMessage}"></div>
		</div>
		<fieldset>
			<legend class="section">
				SKUs
				<button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal"
					data-target="#optionModal">
					<span class="fa fa-plus"> Create SKUs </span>
				</button>
			</legend>
			<div id="skus-block">
				<table class="table table-striped">
					<thead class="thead-default">
						<tr>
							<th><a class="sorted">Id</a></th>
							<th>name</th>
							<th>Attributes</th>
							<th>Sale Price</th>
							<th>Retail Price</th>
							<th>Operation</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="sku : ${skus}">
							<th scope="row" th:text="${sku?.id}">1</th>
							<td th:text="${sku?.name}">Name</td>
							<td th:text="${sku?.attributes}">Attributes</td>
							<td th:text="${sku?.salePrice}">Sale Price</td>
							<td th:text="${sku?.retailPrice}">Retail Price</td>
							<td>
								<div class="flex-btn-group-container">
									<!-- <a class="btn btn-success btn-sm" th:href="@{/{admin}/skus/{skuId}(admin=${admin_url}, skuId=${sku.id})}"> <span
										class="fa fa-eye"></span> <span class="hidden-md-down">View</span>
									</a> --> &nbsp; <a class="btn btn-primary btn-sm" th:href="@{/{admin}/skus/{skuId}/edit(admin=${admin_url}, skuId=${sku.id})}"> <span
										class="fa fa-pencil"></span> <span class="hidden-md-down">Edit</span>
									</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
		<!-- <fieldset>
			<legend class="section">
				Options
				<button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal"
					data-target="#optionModal">
					<span class="fa fa-plus"> Create SKUs </span>
				</button>
			</legend>
			<table class="table table-striped">
				<thead class="thead-default">
					<tr>
						<th><a class="sorted">Id</a></th>
						<th>Code</th>
						<th>Option</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="option : ${options}">
						<th scope="row" th:text="${option?.id}">1</th>
						<td th:text="${option?.code}">Code</td>
						<td>
							<div class="flex-btn-group-container">
								<a class="btn btn-success btn-sm" th:href="@{'/products/'+${option.id}}"> <span
									class="fa fa-eye"></span> <span class="hidden-md-down">View</span>
								</a> &nbsp; <a class="btn btn-primary btn-sm" th:href="@{'/products/'+${option.id}+'/edit'}">
									<span class="fa fa-pencil"></span> <span class="hidden-md-down">Edit</span>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset> -->
		<div class="modal fade" id="optionModal" tabindex="-1" role="dialog" aria-labelledby="optionModal"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Create a Option Value</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<dl>
							<th:block th:each="option : ${options}">
								<dt>
									<input type="checkbox" name="option" th:value="${option.id}" /><span
										th:text="${option.code}"></span>
								</dt>
							</th:block>
						</dl>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" onclick="getOptionInfo();">Save</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
<section layout:fragment="footer-script">
	<script>
		function getOptionInfo () {
		var options=document.querySelectorAll('[name="option"]:checked');
		var selected = [];
		for (var i=0; i<options.length; i++) {
		    if (options[i].checked) {
		        selected.push(options[i].value);
		    }
		}	
		if(selected.length==0){
			$("#optionModal").modal('toggle');
			return;
		}
		$.post("/[[${admin_url}]]/products/[[${productId}]]/generateSkusByBatch", 
				{optionContent : selected.join('@'),
				 [[${_csrf.parameterName}]]: '[[${_csrf.token}]]'
				}, 
				function(data, textStatus, req) {
					$("#optionModal").modal('toggle');
					$("#skus-block").replaceWith(data);
		});
		};
	</script>
</section>
</html>
