	<ul class="nav flex-column">
		<li class="nav-item">
		 <a class="nav-link" href="#" th:text="#{app.title}">Application Name </a>
		</li>
		<li class="nav-item"><a class="nav-link" href="..admin/"
			th:href="@{/{admin}(admin=${admin_url})}"> <i class="fa fa-home"></i>&nbsp; Home <span
				class="sr-only">(current)</span></a></li>
		<li class="nav-item"><a class="nav-link" href="../admin/category/list.html"
			th:href="@{/{admin}/category(admin=${admin_url})}"><i class="fa fa-tags"></i>&nbsp;Category</a></li>
		<li class="nav-item"><a class="nav-link" href="../admin/product/list.html"
			th:href="@{/{admin}/product(admin=${admin_url})}"><i class="fa fa-tags"></i>&nbsp;Product</a></li>
		<li class="nav-item"><a class="nav-link" href="../admin/productOption/list.html"
			th:href="@{/{admin}/productOption(admin=${admin_url})}"><i class="fa fa-home"></i>&nbsp;ProductOption</a></li>
		<li class="nav-item"><a class="nav-link" href="../customer/list.html"
			th:href="@{/{admin}/customer(admin=${admin_url})}"><i class="fa fa-user"></i>&nbsp;Customer</a></li>
		<li class="nav-item"><a class="nav-link" href="../paymentConfiguration/list.html"
			th:href="@{/{admin}/paymentConfiguration(admin=${admin_url})}"><i class="fa fa-credit-card"></i>&nbsp;Payment</a></li>
		<li class="nav-item"><a class="nav-link" href="../shippingConfigurations/list.html"
			th:href="@{/{admin}/shippingConfiguration(admin=${admin_url})}"><i class="fa fa-plane"></i>&nbsp;Shipping</a></li>
		<li class="nav-item"><a class="nav-link" href="../admin/merchantStore/list.html"
			th:href="@{/{admin}/merchantStores(admin=${admin_url})}"><i class="fa fa-home"></i>&nbsp; Store</a></li>
	</ul>
