	<ul class="nav flex-column">
		<li class="nav-item">
		 <a class="nav-link" href="#" th:text="#{app.title}">Application Name </a>
		</li>
		<li class="nav-item"><a class="nav-link" href="..admin/"
			th:href="@{/}"> <i class="fa fa-home"></i>&nbsp; Home <span
				class="sr-only">(current)</span></a></li>
		<li class="nav-item"><a class="nav-link" href="../category/list.html"
			th:href="@{/category}"><i class="fa fa-tags"></i>&nbsp;Category</a></li>
		<li class="nav-item"><a class="nav-link" href="../product/list.html"
			th:href="@{/product}"><i class="fa fa-tags"></i>&nbsp;Product</a></li>
		<li class="nav-item"><a class="nav-link" href="../productOption/list.html"
			th:href="@{/productOption}"><i class="fa fa-home"></i>&nbsp;ProductOption</a></li>
		<li class="nav-item"><a class="nav-link" href="../customer/list.html"
			th:href="@{/customer}"><i class="fa fa-user"></i>&nbsp;Customer</a></li>
		<li class="nav-item"><a class="nav-link" href="../paymentConfiguration/list.html"
			th:href="@{/paymentConfiguration}"><i class="fa fa-credit-card"></i>&nbsp;Payment</a></li>
		<li class="nav-item"><a class="nav-link" href="../shippingConfigurations/list.html"
			th:href="@{/shippingConfiguration}"><i class="fa fa-plane"></i>&nbsp;Shipping</a></li>
		<li class="nav-item"><a class="nav-link" href="../merchantStore/list.html"
			th:href="@{/merchantStores}"><i class="fa fa-home"></i>&nbsp; Store</a></li>
	</ul>
