<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
<!-- REPLACE BEFORE COMMITTING -->
</head>
<body role="document">
	<div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>
	<div class="container" role="main">
		<div class="page-header">
			<h3>Category <small th:text="${item.id}"></small></h3>
		</div>
		<div role="alert" th:if="${statusMessage}"
			th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}"></div>
			
			
			
	</div>
	<div th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING
	</div>
</body>
</html>
