<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
<!-- REPLACE BEFORE COMMITTING -->
</head>
<body>
	<div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>
	<div class="container" role="main">
		<div class="page-header">
			<h2>Category</h2>
		</div>
		<div role="alert" th:if="${statusMessage}"
			th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}"></div>
		<form name="form" th:action="@{/categories}" action="category/new.html" method="POST">
			<div class="form-group">
				<label for="codeInput">Code</label> <input type="text" class="form-control" id="codeInput" name="code"
					placeholder="Code" />
			</div>
			<div class="form-group">
				<label for="formGroupExampleInput2">Another label</label> <input type="text"
					class="form-control" id="formGroupExampleInput2" placeholder="Another input" />
			</div>
			<div class="form-actions">
				<div class="row">
					<div class="offset-9">
						<button type="button" class="btn btn-default">
							<span class="fa fa-ban"></span>&nbsp;Cancel
						</button>
						<button type="submit" class="btn btn-primary">
							<span class="fa fa-save"></span>&nbsp;Save
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</div>
</body>
</html>
