<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
<!-- REPLACE BEFORE COMMITTING -->
</head>
<body role="document">
	<div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>
	<div class="container">
		<div class="page-header">
			<h2>
				Categories <a th:href="@{/categories/new}" class="btn btn-success pull-right">Add category</a>
			</h2>
		</div>
		<div class="row">
			<div role="alert" th:if="${statusMessage}"
				th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}"></div>
			<table class="table">
				<thead class="thead-default">
					<tr>
						<th>#</th>
						<th>Code</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${items}">
						<th scope="row" th:text="${item.id}">1</th>
						<td th:text="${item.code}">code</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</div>
	</div>
</body>
</html>
