<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <a class="navbar-brand"  href="#" th:text="#{app.title}">Application Name </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="..admin/" th:href="@{/{admin}(admin=${admin_url})}"> <i class="fa fa-home fa-fw"></i>&nbsp; Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../admin/categories/list.html" th:href="@{/{admin}/categories(admin=${admin_url})}">Category</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="../admin/products/list.html" th:href="@{/{admin}/products(admin=${admin_url})}">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../admin/productOptions/list.html" th:href="@{/{admin}/productOptions(admin=${admin_url})}">ProductOption</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../customers/list.html" th:href="@{/{admin}/customers(admin=${admin_url})}">Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../paymentConfigurations/list.html" th:href="@{/{admin}/paymentConfigurations(admin=${admin_url})}">PaymentConfiguration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../shippingConfigurations/list.html" th:href="@{/{admin}/shippingConfigurations(admin=${admin_url})}">ShippingConfiguration</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="../admin/merchantStores/list.html" th:href="@{/{admin}/merchantStores(admin=${admin_url})}">Merchant Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../attachment/list.html" th:href="@{/{admin}/attachments(admin=${admin_url})}">Images</a>
      </li>
      
       <li class="nav-item push-right">
        <a class="nav-link" href="#" th:href="@{/customer/register}">Customer Register</a>
      </li>
     <!--  <li class="nav-item push-right">
        <a class="nav-link" href="#" th:href="@{/register}">Register</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="../productOptions/list.html" th:href="@{/productOptions}">Product Option</a>
      </li> -->
    </ul>
   <!--  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search"/>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>