<nav class="navbar  navbar-default" role="navigation">
	<ul class="nav flex-column">
		<li><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button> <a class="navbar-brand" href="#" th:text="#{app.title}">Application Name </a></li>
		<li class="nav-item active"><a class="nav-link" href="..admin/"
			th:href="@{/{admin}(admin=${admin_url})}"> <i class="fa fa-home"></i>&nbsp; Home <span
				class="sr-only">(current)</span></a></li>
		<li class="nav-item"><a class="nav-link" href="../admin/categories/list.html"
			th:href="@{/{admin}/categories(admin=${admin_url})}"><i class="fa fa-tags"></i>&nbsp;Category</a></li>
		<li class="nav-item"><a class="nav-link" href="../admin/products/list.html"
			th:href="@{/{admin}/products(admin=${admin_url})}"><i class="fa fa-tags"></i>&nbsp;Product</a></li>
		<li class="nav-item"><a class="nav-link" href="../admin/productOptions/list.html"
			th:href="@{/{admin}/productOptions(admin=${admin_url})}"><i class="fa fa-home"></i>&nbsp;ProductOption</a></li>
		<li class="nav-item"><a class="nav-link" href="../customers/list.html"
			th:href="@{/{admin}/customers(admin=${admin_url})}"><i class="fa fa-user"></i>&nbsp;Customer</a></li>
		<li class="nav-item"><a class="nav-link" href="../paymentConfigurations/list.html"
			th:href="@{/{admin}/paymentConfigurations(admin=${admin_url})}"><i class="fa fa-credit-card"></i>&nbsp;PaymentConfiguration</a></li>
		<li class="nav-item"><a class="nav-link" href="../shippingConfigurations/list.html"
			th:href="@{/{admin}/shippingConfigurations(admin=${admin_url})}"><i class="fa fa-plane"></i>&nbsp;ShippingConfiguration</a></li>
		<li class="nav-item"><a class="nav-link" href="../admin/merchantStores/list.html"
			th:href="@{/{admin}/merchantStores(admin=${admin_url})}"><i class="fa fa-home"></i>&nbsp;Merchant Store</a></li>
		<li class="nav-item"><a class="nav-link" href="../attachment/list.html"
			th:href="@{/{admin}/attachments(admin=${admin_url})}">Images</a></li>
		<li class="nav-item push-right"><a class="nav-link" href="#" th:href="@{/customer/register}"><i class="fa fa-home"></i>&nbsp;Customer
				Register</a></li>
	</ul>
</nav>