* {
	box-sizing: border-box;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.navbar-static-top {
	margin-bottom: 19px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.dropdown-menu-right {
	right: inherit !important;
}

.form-actions {
  padding: 17px 20px 18px;
  background-color: $bg-addition;
  @include clearfix(); // Adding clearfix to allow for .float-right button containers
}

