<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{layouts/layout}">
</head>
<body>
	<section layout:fragment="content">
		<div class="starter-template" style="padding-top: 80px;">
			<h2 th:text="#{welcome}">Welcome!</h2>
			<img src="../static/images/pets.png" th:src="@{/img/pets.png}" />
		</div>
		<div role="alert" th:if="${statusMessage}"
			th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}"></div>
		<div class="row" sec:authorize="isAnonymous()">
			<div class="col-sm-6" style="text-align: right">
				<h3>Returning users:</h3>
				<a th:href="@{'/login'}" href="login.html" class="btn btn-success">Click here</a>
			</div>
			<div class="col-sm-6" style="text-align: left">
				<h3>First time users:</h3>
				<form action="#" th:action="@{/users}" method="get">
					<div>
						<button type="submit" class="btn btn-info">Click here</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>
