<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{layouts/layout}">
<head>
<body>
	<section layout:fragment="content">
		<div class="page-title">
			<h2>
				Payment Configuration <small th:text="${item?.id}"></small>
			</h2>
		</div>
		<div role="alert" th:if="${statusMessage}"
			th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}"></div>
		<form name="form"
			th:action="@{(${item.id} ? '/'+${admin_url}+'/paymentConfigurations/'+${item.id}+'/edit': '/'+${admin_url}+'/paymentConfigurations')}"
			action="paymentConfiguration/edit.html" method="POST">
			<fieldset>
				<legend class="section">Basic Info</legend>
				<div class="row form-group">
					<label for="nameInput" class="col-2 col-form-label text-right">Name</label> <input type="text"
						th:value="${item.name}" class="form-control col-4" id="nameInput" name="name"
						placeholder="Name" /> <label for="typeInput" class="col-2 col-form-label text-right">Type</label>
					<input type="text" th:value="${item.type}" class="form-control col-4" id="typeInput"
						name="type" /> <label for="configurationInput" class="col-2 col-form-label text-right">Configuration</label>
					<input type="text" th:value="${item.configuration}" class="form-control col-4"
						id="configurationInput" name="configuration" placeholder="Configuration" /> <label
						for="schemeInput" class="col-2 col-form-label text-right">Scheme</label> <input type="text"
						th:value="${item.scheme}" class="form-control col-4" id="schemeInput" name="scheme"
						placeholder="Scheme" /> <label for="hostInput" class="col-2 col-form-label text-right">Host</label>
					<input type="text" th:value="${item.host}" class="form-control col-4" id="hostInput"
						name="host" placeholder="Host" /> <label for="portInput"
						class="col-2 col-form-label text-right">Port</label> <input type="text"
						th:value="${item.port}" class="form-control col-4" id="portInput" name="port"
						placeholder="Port" /> <label for="uriInput" class="col-2 col-form-label text-right">URI</label>
					<input type="text" th:value="${item.uri}" class="form-control col-4" id="uriInput" name="uri"
						placeholder="Port" /> <label for="envInput" class="col-2 col-form-label text-right">ENV</label>
					<input type="text" th:value="${item.env}" class="form-control col-4" id="envInput" name="env"
						placeholder="env" /> <label for="config1Input" class="col-2 col-form-label text-right">Config1</label>
					<input type="text" th:value="${item.config1}" class="form-control col-4" id="config1Input"
						name="config1" placeholder="config1" />
				</div>
			</fieldset>
			<div class="form-actions">
				<div class="row justify-content-end">
					<button type="button" class="btn btn-default" th:onclick="${'goBack();'}">
						<span class="fa fa-ban"></span>&nbsp;Cancel
					</button>
					&nbsp;&nbsp;
					<button type="submit" class="btn btn-primary">
						<span class="fa fa-save"></span>&nbsp;Save
					</button>
				</div>
			</div>
		</form>
	</section>
</body>
</html>
