<ul class="clearfix">
	<li class="three columns mobile-two sale" th:each="item : ${products}">
		<div class="item">
			<div>
				<a th:href="@{/product/{productId}(productId=${{item.id}})}">
				<img th:src="@{/images/product/{productId}/thumbnail(productId=${{item.id}})}" width="365" height="365" /></a>
			</div>
			<div class="short-description">
				<h3>
					<a th:href="@{/product/{productId}(productId=${{item.id}})}" th:text="${{item.name }}"></a>
				</h3>
				<span> <a th:href="@{/product/{productId}(productId=${{item.id}})}" > <i> <span class="oldprice"
							th:text="${item.standardPrice}">price</span> <span th:text="${item.retailPrice}"></span>
					</i>
				</a>
				</span>
			</div>
			<span class="salesign">SALE</span>
		</div>
	</li>
</ul>
