<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" lang="en"
	layout:decorate="~{shop/layouts/layout}">
<head>
<link rel="stylesheet" type="text/css" href="shop/css/foundation.min.css"
	th:href="@{/shop/css/productOption.css}">
<script src="shop/js/productOption.js" th:src="@{/shop/js/productOption.js}"></script>
<script src="shop/js/globalOnReady.js" th:src="@{/shop/js/globalOnReady.js}"></script>
</head>
<body>
	<section layout:fragment="content">
		<div class="six columns">
			<div class="item-images">
				<div class="big-image">
					<img src="/shop/demo/1.jpeg" />
				</div>
				<ul class="row">
					<li class="four columns mobile-two" th:each="image : ${images}"><a href="#"><img
							th:src="@{\images\{productId}(productId=${image.id})}" style="width: 82px; height: 82px;" /></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="six columns">
			<div class="short-description {{ on_sale ? 'sale' : null }}">
				<h2 class="product-title" th:text="${{product.name}}"></h2>
				<br />
				<div class="price">
					<span> <i> <span id="price" th:text="${{product.retailPrice}}"></span>
					</i>
					</span>
				</div>
				<div>
					<h3>Description</h3>
					<span th:text="${{ product.briefDescription}}"></span>
				</div>
				<h3>Product Options</h3>
				<div class="clearfix">
					<div class="option">
						<div th:include="shop/product/partials/productOptions" th:remove="tag">REPLACE BEFORE
							COMMITTING</div>
						<!-- <label class="title" for="{{ 'option-'~index }}">{{ option.name }}</label> <select
							id="{{ 'option-'~index }}" name="options[{{ option.id }}]" class="product-option"
							data-ajax-handler="shop:product" data-ajax-update="#product-page=shop-product">
							<option value='{{ key }}'{{ option_state(postedOptions[option.id], key) }}>{{ value
								}}</option>
						</select> -->
					</div>
				</div>
				<label class="title" for="customDropdown">Quantity</label>
				<div class="row add-to-cart-block">
					<div class="four columns">
						<input class="quantity-input" type="text" value='1' name="quantity" />
					</div>
					<div class="four mobile-four columns left">
						<input type="hidden" name="productId" value="{{ product.id }}" /> <a class="button" href="#">Add
							to Cart</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
<section layout:fragment="footer-script">
	<script type="text/javascript">
		$(document).ready(function() {
			/* $(".product-option-value-class").click(function(){
			    alert("click work ");
			  }); */
	
		});
	</script>
</section>
</html>
