<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" lang="en"
	layout:decorate="~{shop/layouts/layout}">
<head>
<link rel="stylesheet" type="text/css" href="shop/css/foundation.min.css"
	th:href="@{/shop/css/productOption.css}">
<script src="shop/js/productOption.js" th:src="@{/shop/js/productOption.js}"></script>
<script src="shop/js/globalOnReady.js" th:src="@{/shop/js/globalOnReady.js}"></script>
</head>
<body>
	<section layout:fragment="content">
		<div class="six columns">
			<div class="item-images">
				<div class="big-image">
					<img src="/shop/demo/1.jpeg" />
				</div>
				<ul class="row">
					<li class="four columns mobile-two" th:each="image : ${images}"><a href="#"><img
							th:src="@{\images\{productId}(productId=${image.id})}" style="width: 82px; height: 82px;" /></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="six columns">
			<div class="short-description {{ on_sale ? 'sale' : null }}">
				<h2 class="product-title" th:text="${{product.name}}"></h2>
				<br />
				<div class="price">
					<span> <i> <span id="price" th:text="${{product.retailPrice}}"></span>
					</i>
					</span>
				</div>
				<div>
					<h3>Description</h3>
					<span th:text="${{ product.briefDescription}}"></span>
				</div>
				<h3>Product Options</h3>
				<div class="clearfix">
					<div class="option">
						<div th:include="shop/product/partials/productOptions" th:remove="tag">REPLACE BEFORE
							COMMITTING</div>
					</div>
				</div>
				<label class="title" for="customDropdown">Quantity</label>
				<div class="row add-to-cart-block">
					<div class="four columns">
						<input class="quantity-input" type="text" id="quantity" value='1' name="quantity" />
					</div>
					<div class="four mobile-four columns left">
						<input type="hidden" id="productId" th:value="${{product.id}}" /> <input type="hidden"
							id="skuId" /> <a class="button" href="#" id="addCart">Add to Cart</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
<section layout:fragment="footer-script">
	<script type="text/javascript">
		$(document).ready(function() {
			$("#addCart").click(function(){
				var productId = $("#productId").val();
				var skuId = $("#skuId").val();
				var quantity = $("#quantity").val();
				$.post("/cart", 
						{productId : productId,
						 skuId:skuId,
						 quantity:quantity,
						 [[${_csrf.parameterName}]]: '[[${_csrf.token}]]'
						}, 
						function(data, textStatus, req) {
							alert("add cart item work !!!");
					
						});
			});  
		});
	</script>
</section>
</html>
